body{
	margin: 0;
	background:#00aced;
	

}
.Menu {
	margin: 0;
	background: #EFEDED;

}

h3{
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #939191;
	font-family: 'Alegreya Sans';

}
i{
	margin-right: 5px;
}

#twitt{
	color: #33ccff;
	font-size: 50px;
	margin-left: 400px;

}
img {
	width: 230px;
	height: 40px;
	margin-top: 5px;
	padding-top: 10px;
	margin-left: 180px;
}

.container{
	display: inline-block;
	padding: 5px;
	margin-top: 50px;
	margin-left: 400px;
	border:2px solid #AFFBFE;
	border-radius:5px;
	/*margin-left: 450px;*/

	

	
}
.txt{
	text-align: left;
	font-family: 'Overlock';
	font-size: 20px;
	/*margin-top: 50px;
	margin-left: 450px;*/
	width: 450px;
	height: 250px;
	display: block;
	border-radius: 5px;

}
#btn {
	/*display: block;*/
	/*margin-left: 400px;*/
	margin-left: 200px;
	background: #36b9ff;
	color: white;
	border-radius: 5px;

}
#cont {
	display: inline-block;
	padding-left: 2px;
	width: auto;
	/*margin-left: 310px;*/
	
}
.tweet{
	border: 5px solid #36b9ff;
	border-radius: 5%;
	margin: 1em;
	background: #D9E8EB;
}
.color{
	font-family: 'Overlock';
	font-size: 20px;
}
.name{
	font-family: 'Overlock';
	font-size: 20px;
	color: #8768E1;
}

.date{
	font-family: 'Overlock';
	font-size: 16px;
	margin-left: 50px;
	color: #065DD4;
}



